* {
  margin: 0;
  padding: 0;
}

html {
	scroll-behavior: smooth;
}

nav {
  background-color: #1b1c1d;
  width: 100%;
  height: 50px;
  position: sticky;
  top: 0px;
}

.navbar {
  color: #fff;
  display: flex;
  width: 50%;
  margin: auto;
}

.nav-menu {
  list-style-type: none;
  margin-right: 5px;
  padding: 16px;
}

.nav-menu:hover {
  background-color: #fff;
  color: #1b1c1d;
  font-weight: bolder;
}

li a {
  text-decoration: none;
  color: #fff;
}

a{
  text-decoration: none;
}

.introSection {
  width: 100%;
  height: 568px;
  background-color: #1b1c1d;
  color: #fff;
  text-align: center;
  position: relative;
}

.name {
  font-size: 50px;
}

.designation {
  margin-top: 10px;
  font-size: 20px;
}

.introContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.aboutSection {
  width: 100%;
  /* height: 750px; */
  background-color: #ffffff;
  /* position: relative; */
}

.aboutContainer {
  display: flex;
  margin: 75px 150px 50px 150px;
}

.poet,
.writer {
  width: 400px;
  margin: 50px;
  /* line-height: 20px; */
}

h2 {
  margin-bottom: 20px;
}

.poet_img {
  margin: 50px;
  width: 350px;
  /* height: 450px; */
  background-image: url("https://kavishala.s3.ap-south-1.amazonaws.com/sootradhar_author/bangladesh_national_poet_kazi_nazrul_islam.jpg");
  background-size: cover;
}

.about_btn_container {
  text-align: center;
  margin-bottom: 60px;
}

.btn {
  background-color: aqua;
  font-weight: 400;
  border: none;
  color: white;
  padding: 12px 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 5px;
}

i {
  padding-right: 5px;
}

.btn-learnMore {
  background-color: #e0e1e2;
  color: #272829c2;
}

.btn-Videos {
  background-color: #db2828;
}

.btn-Books {
  background-color: #f2711c;
}

.quoteSection {
  background-color: #1b1c1d;
  height: 100px;
  color: #fff;
  text-align: center;
}

.quote {
  font-size: 20px;
  padding-top: 40px;
}

.awardsSection {
  margin-top: 30px;
  /* height: 600px; */
  background-color: #fff;
}

.awardsHeadingLine {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #c2bfbf;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.awardsHeading {
  background-color: #fff;
  padding: 0px 10px;
}

.awardsHeading::after {
  content: "Awards";
}

.awards {
  margin-top: 50px;
  margin-left: 150px;
}
.awardsContainer {
  display: flex;
  /* margin: 0px 100px; */
}
.award {
  margin: 10px;
  padding: 10px;
  width: 200px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
}

.award-title {
  font-size: 16px;
  margin: 2px 0px 5px 2px;
}

.award-year {
  font-size: 12px;
  color: #c2bfbf;
  font-style: normal;
  margin: 2px 0px 5px 2px;
}

.award p {
  font-size: 12px;
  color: #969393;
}

.poetry_PoemsContainer {
  display: flex;

  margin: 40px 150px;
}

h3 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #c2bfbf;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

h3 span {
  background-color: #fff;
  padding: 0px 10px;
}

.poetry,
.poems {
  margin: 0px 10px;
  width: 50%;
}

.poets,
.poem {
  margin-left: 30px;
  color: #969393;
  font-size: 14px;
}

.footer {
  background-color: #1b1c1d;
  color: #fff;
  padding: 20px;
}

.footerContainer {
  margin: 10px 150px;
  display: flex;
}

.vertical_Line {
  height: 80px;
  border-left: 1px solid #969393;
}

.footer-heading {
  margin: 10px 20px 10px 10px;
  font-size: 14px;
}

.footer-content {
  margin: 10px 20px 10px 10px;
  font-size: 12px;
}

.foot-name {
  color: #969393;
  font-weight: bold;
}

.about_the_author {
  width: 36%;
}
.Techs {
  width: 15%;
}

.Disclaimer {
  width: 36%;
}

.blue_text {
  color: royalblue;
}



@media screen and (max-width: 1440px) {
  .aboutContainer {
    margin: 75px 150px 50px 254px;
    width: 72%;
}
  .awards {
    margin: 30px 150px 30px 254px;
  }
  .poetry_PoemsContainer {
    margin: 40px 225px;
  }
  .footerContainer {
    margin: 10px 250px;
  }
}

@media screen and (max-width: 1024px) {
  .aboutContainer {
    margin: 75px 60px 50px 60px;
    width: 89%;
  }
  .awards {
    margin: 30px 30px;
  }
  .poetry_PoemsContainer {
    margin: 40px 40px;
  }
}

@media screen and (max-width: 768px) {
  .introSection {
    height: 468px;
  }
  .aboutContainer {
    margin: 50px 25px 50px 25px;
    width: 95%;
  }
  .poet, .writer {
    width: 300px;
    margin: 10px;
    /* line-height: 20px; */
  }
  .awards {
    margin: 30px 30px;
  }

  .poetry_PoemsContainer {
    margin: 40px 40px;
  }

  .footerContainer {
    margin: 10px 74px;
  }
  .about_the_author {
    width: 50%;
  }
  .Techs {
    width: 30%;
  }
  .Disclaimer {
    width: 85%;
  }

}

@media screen and (max-width: 650px) {
  .navbar {
    color: #fff;
    display: flex;
    width: 80%;
    margin: auto;
  }

  .introSection {
    height: 300px;
  }
  .name {
    font-size: 30px;
  }

  .designation {
    font-size: 15px;
  }

  .aboutContainer {
    display: block;
    margin: 0px;
  }

  .about_para {
    margin: 0px;
  }

  .poet,
  .writer {
    width: 90%;
    margin: 40px 30px;
    /* line-height: 20px; */
  }

  .poet_img {
    display: none;
  }

  .quote {
    font-size: 15px;
  }
  .awards {
    margin: 40px;
  }
  .awardsContainer {
    display: block;
    /* margin: 0px 100px; */
  }
  .award {
    width: 90%;
  }

  .poetry_PoemsContainer {
    display: block;
    margin: 20px;
  }

  .poetry,
  .poems {
    margin: 40px 0px 0px 0px;
    width: 100%;
  }
  .poets,
  .poem {
    margin-top: 40px;
    margin-left: 30px;
    color: #969393;
    font-size: 14px;
  }

  .footer {
    margin-top: 60px;
    text-align: center;
  }

  .footerContainer {
    margin: 10px 10px;
    display: block;
  }

  .vertical_Line {
    height: 1px;
    border-bottom: 1px solid #969393;
  }
  .about_the_author {
    width: 100%;
  }
  .Techs {
    width: 100%;
  }

  .Disclaimer {
    width: 100%;
  }
}

@media screen and (max-width: 426px) {
    .navbar {
        color: #fff;
        display: flex;
        width: 90%;
        padding: 0;
    }
    .name {
        font-size: 40px;
    }
    .designation {
        font-size: 20px;
    }
    .introSection {
        height: 230px;
    }
    .introContainer {
        top: 21%;
        left: 12%;
        transform: translate(0%, 12%);
    }
    .aboutContainer {
      width: 64%;
    }
    .poet, .writer {
        width: 125%;
    }
    .quote {
        font-size: 20px;
        padding-top: 25px;
        margin: 0px 45px;
    }

    .about_btn_container {
      margin: 20px 105px;
    }
    .btn {
        display: block;
        margin: 10px;
        width: 190px;
    }
}

@media screen and (max-width: 376px) {
  .navbar {
    width: 100%;
  }
  .about_btn_container {
    margin: 20px 80px;
}
}
